@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/pt-sans-italic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold-italic.woff2") format("woff2");
  font-display: swap;
}

/* Общие стили страницы - "Index" */

body {
  font-family: "PT Sans", sans-serif;
  color: #000000;
}

.h2-style {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.h3-style {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.main-paragraph-style {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.link-style {
  text-decoration: none;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}



/* Стили поля - "Header" */



/* Стили поля - "nav" */
.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}


.nav-search-button {
  border: 0;
  width: 20px;
  height: 20px;
  background-image: url("../images/index-images/non-content-icons/nav-search-icon.svg");
  background-repeat: no-repeat;
  background-color: #ffffff;
}

.nav-favourite-button {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../images/index-images/non-content-icons/nav-favourite-icon.svg");
  background-repeat: no-repeat;
  background-color: #ffffff;
}

.nav-button{
  width: 160px;
  height: 36px;
  border-radius: 4px;
  background-color: #756157;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: 0;
}


/* Стили секции - "hero" */
.index-hero {
  background-image: url("../images/index-images/non-content-icons/Sedona-index-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}



/* Стили секции - "advatages" */
.advantages-item {
  background-color: #83B3D31F;
  font-size: 18px;
  line-height: 21px;
}

.advantages-img {
  color: #ffffff;
  background-color: #82B3D3;
}

.advantages-center {
  background-color: #83B3D333;
}



/* Стили секции "comfort-advantages" */
.comfort-advantage-item {
  background-color: #83B3D31F;
  font-size: 18px;
  line-height: 21px;
  background-repeat: no-repeat;
}

.apartments {
  background-image: url("../images/index-images/non-content-icons/home-icon.svg");
}

.food {
  background-image: url("../images/index-images/non-content-icons/food-icon.svg");
}

.suvenirs {
  background-image: url("../images/index-images/non-content-icons/suvenir-icon.svg");
}



/* Cтили секции - "promo" */

.promo-button {
  width: 376px;
  height: 52px;
  border-radius: 4px;
  background-color: #756157;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  border: 0;
}

/* Cтили секции - "distribution" */

.distribution-button{
  width: 232px;
  height: 52px;
  border-radius: 0 4px 4px 0;
  background-color: #82B3D3;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  border: 0;
}

/* Стили "footer" */
.Vkontakte {
  width: 24px;
  height: 24px;
  display: block;
  background-repeat: no-repeat;
  background-image: url("../images/index-images/non-content-icons/VK-logo.svg");
}

.Telegramm {
  width: 24px;
  height: 24px;
  display: block;
  background-repeat: no-repeat;
  background-image: url("../images/index-images/non-content-icons/TG-logo.svg");
}

.YouTube {
  width: 24px;
  height: 24px;
  display: block;
  background-repeat: no-repeat;
  background-image: url("../images/index-images/non-content-icons/YouTube-logo.svg");
}

.footer-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}

.dev-logo {
  width: 115px;
  height: 33px;
  display: block;
  background-repeat: no-repeat;
  background-image: url("../images/index-images/non-content-icons/html-academy-logo.svg");
}



/*    Стили страницы - "Catalog"    */

body {
  font-family: "PT Sans", sans-serif;
  color: #000000;
}
.link-style {
  text-decoration: none;
  color: #000000;
}



/* Стили поля - "Header" */



/* Стили секции - "hero" */
.top-sections-container{
  background-color: #333333;
  color: #ffffff;
}

.breadcrumbs-homepage {
  display: block;
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  background-image: url("../images/index-images/non-content-icons/breadscrumbs-homepage-icon.svg");
}

.breadscrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}



/* Стили секции - "search-filter" */
.search-filters {
  color:#ffffff;
  background-color: #333333;
}

.housing-type-title, .infrastructure-type-title, .price-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.infrastructure-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.filter-button {
  width: 191px;
  height: 36px;
  background-color: #82B3D3;
  border-radius: 4px;
  border: 0;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20;
}



/* Стили секции - "каталог" */
.select-control {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.search-results {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.card-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.rating{
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
}

.card-link, .card-add-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.details-button {
  width: 140px;
  height: 36px;
  display: block;
  background-color: #756157;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.card-add-button {
  width: 140px;
  height: 36px;
  background-color: #82B3D3;
  border: 0;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}


.taken {
  background-color: #7DB54F;
}

.pagination-link {
  color: white;
  background-color: #82B3D3;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.pagination-current{
 color: #000000;
 background-color: #F2F2F2;
}

/* стили секции - "distribution" */

.distribution-title{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.distribution-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}
