@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/pt-sans-italic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold-italic.woff2") format("woff2");
  font-display: swap;
}

/* Общие стили страницы - "catalog" */

body {
  font-family: "PT Sans", sans-serif;
  color: black;
}

.h2-style {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.h3-style {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.main-paragraph-style {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.link-style {
  text-decoration: none;
  color: black;
}

/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */



/* Стили поля - "Header" */



/* Стили поля - "nav" */
.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}



/* Стили секции - "hero" */
.top-sections-container{
  background-color: #333333;
  color: white;
}

.breadscrumbs-link, .breadscrumbs-link{
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: white;
}



/* Стили секции - "search-filter" */
.search-filters {
  color:white;
  background-color: #333333;
}

.housing-type-title, .infrastructure-type-title, .price-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.infrastructure-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

/* Стили секции - "каталог" */
.search-results {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: black;
}

.card-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.rating{
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
}

.card-link, .card-add-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.pagination-link {
  color: white;
  background-color: #82B3D3;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.pagination-current{
 color: black;
 background-color: #F2F2F2;
}

/* стили секции - "distribution" */

.distribution-title{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.distribution-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}


/* Стили поля - "footer" */
.Vkontakte {
  background-repeat: no-repeat;
  background-image: url("../images/index-images/non-content-icons/VK-logo.svg");
}

.Telegramm {
  background-repeat: no-repeat;
  background-image: url("../images/index-images/non-content-icons/TG-logo.svg");
}

.YouTube {
  background-repeat: no-repeat;
  background-image: url("../images/index-images/non-content-icons/YouTube-logo.svg");
}

.footer-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: black;
}

.dev-logo {
  background-image: url("../images/index-images/non-content-icons/html-academy-logo.svg");
}
